@import 'utils/scss_variables.module.scss';

$button-icon-size: 16px;

.ag-button {
    border: none;
    outline: none;
    font-weight: bold;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    height: 26px;
    font-size: 12px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    
    &:disabled {
        cursor: not-allowed;
    }
    &.ag-button--primary {
        background-color: $color-main;
        color: $color-white;
        border-radius: 50px;
        text-transform: uppercase;
        padding: 0 20px;

        &:hover:not(:disabled) {
            background-color: $color-main-dark;
        }
        &:disabled {
            background-color: $color-grey-light;
            color: $color-grey;
        }
    }
    &.ag-button--secondary {
        color: $color-main;
        border: 1px solid $color-main;
        border-radius: 50px;
        text-transform: uppercase;
        padding: 0 20px;

        &:hover:not(:disabled) {
            background-color: $color-blue-light;
        }
        &:disabled {
            color: $color-grey;
            border-color: $color-grey;
        }
    }
    &.ag-button--tertiary {
        color: $color-main;
        text-decoration: underline;

        &:hover:not(:disabled) {
            color: $color-main-dark;
        }
        &:disabled {
            color: $color-grey;
        }
    }
    .button-icon {
        width: $button-icon-size;
        height: $button-icon-size;
        min-width: $button-icon-size;
        min-height: $button-icon-size;
        margin-right: 5px;
    }
}