@import 'utils/scss_variables.module.scss';

.review-confirmation-modal {
    .approve-alert {
        display: flex;
        align-items: center;
        margin-top: 13px;
        margin-bottom: 35px;

        .icon {
            margin-right: 5px;
            color: $color-main;
        }
    }

    .dropdown-title {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}
