@import 'utils/scss_variables.module.scss';

$loader-border-radius: 20px;

.line-loader-container {
    position: relative;
    height: 6px;
    background-color: $color-grey-light;
    border-radius: $loader-border-radius;

    .line-loader-filler {
        background-color: $color-main;
        border-top-left-radius: $loader-border-radius;
        border-bottom-left-radius: $loader-border-radius;
        height: 100%;

        &.done {
            border-radius: $loader-border-radius;
            background-color: #38CDA0;
        }
        &.error {
            border-radius: $loader-border-radius;
            background-color: red;
        }
    }
    .line-loader-title {
        display: table;
        margin: auto;
        color: $color-grey-black;
        font-size: 12px;
        padding-top: 10px;
    }
}