@import 'utils/scss_variables.module.scss';

.icon-container {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    white-space: nowrap;

    .icon-title {
        float: left;
        margin-left: 5px;
        font-weight: bold;
        font-size: 10px;
        line-height: 22px;
    }
    &.clickable {
        cursor: pointer;
    }
}
