@import 'utils/scss_variables.module.scss';

$margin-between: 20px;

.dashboard-content-wrapper {
    display: flex;
    height: 602px;
    
    .page-container {
        padding: 30px;
    }
    .api-usage-container {
        width: calc(2 * (100% - #{$margin-between}) / 3);
    }
    .dashboard-counters-wrapper {
        margin-right: $margin-between;
        width: calc((100% - #{$margin-between}) / 3);

        .page-container {
            height: calc(50% - 10px);

            &:last-child {
                margin-top: 20px;
            }
        }
        .latest-spec-wrapper {
            .latest-spec-time {
                color: $color-grey-dark;
            }
        }
    }
}