.select-workload-wrapper {
    padding: 0px 20px 10px 20px;

    .select-workload-label {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .select-workload-input-filed {
        width: 100%;
    }

    .select-workload-add-client-button {
        margin-top: 10px;
    }
}
