@import 'utils/scss_variables.module.scss';

.inventory-tables-page {
    .page-container {
        position: relative;

        .pagination-container {
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }
}